.List {
  display: flex;
  flex-direction: column;
  height: 300px;
  padding: 5px;
  background: white;
  border: 1px solid gray;
  border-radius: 2px;
  overflow-y: auto;
  margin: 10px 0;
}

.List_disabled {
  display: flex;
  flex-direction: column;
  height: 300px;
  padding: 5px;
  background: #d9e7eb;
  border: 1px solid #BECECEFF;
  border-radius: 2px;
  overflow-y: auto;
  margin: 10px 0;
}

.str {
  display: flex;
  min-height: 1.5em;
}
.marker {
  width: 15px;
  color: green;
}

.text {

}